<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Access Denied</h4>
        <p>You do not have permission to access this page.</p>
        <hr>
        <p class="mb-0"><a href="/api/v1/home" class="btn btn-primary">Trang chủ</a></p>
    </div>
</div>
</body>
</html>
